@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	color: #212529;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* ----------------- */
/*------------HEADER--------------*/
.header {
   margin-top: 40px;
}
.header__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.header__logo {
}
.header__menu {
}
.menu {
   
}
.menu__list {
   display: flex;
   justify-content: space-between;
   gap: 25px;
   flex-wrap: wrap;
}
.menu__item {
}
.menu__link::before {
   content: "";
   height: 2px;
   width: 100%;
   border-radius: 1px;
   background-color: #DDBEA9;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: all 0.3s;
   opacity: 0;
}
.menu__link:hover::before {
   width: 100%;
   left: 0;
   opacity: 1;
}
.menu__link {
   transition: all ease-out 0.3s;
   position: relative;
}
.menu__link:hover{
   color: #DDBEA9;
}
.header__buttoms {
    display: inline-flex;
    gap: 25px;
    align-items: center;
}

.header__buttoms * {
    font-weight: 500;
    line-height: 2.08;
}
.header__sign-in>a {
    color: rgba(73, 80, 87, 0.5);
    transition: all 0.3s;
}

.header__sign-in>a:hover {
    color: #212529;
    transform: scale(1.2);
}
.header__get-started>a {
    padding: 7px 15px;
    background-color: #DDBEA9;
    border-radius: 20px;
    color: #F8F9FA;
    transition: all 0.3s;
}


.header__get-started>a:hover {
    color: #212529;
    border-radius: 10px;
}

/* -----SLIDER-------*/

.page__header {
}
.header-page {
}
.header-page__container {
   position: relative;
}
.header-page__slider {
}

.slider {
   margin-bottom: 100px;
}
.slider__container {
   position: relative;
   padding-top: 100px;
}
.slider__img {
   width: 100%;
   border-radius: 5px;
   overflow: hidden;
}
.slider__img>img {
   width: 100%;
}
.slider__text {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
   max-width: 380px;
   height: fit-content;
}

.slider__author>a {
   color: #E5E5E5;
   transition: color 0.3s;
}
.slider__author>a:hover {
   color: #DDBEA9;
} 

.slider__title {
   font-weight: 700;
   font-size: 25px;
   line-height: 1.6;
   color: #F8F9FA;
   text-align: center;
   transition: color 0.3s;
}

.slider__titlehover {
   color: #DDBEA9;
}

/* ---------------------------- */
.topics {
	padding-bottom: 100px;
}
.topics__container {
}
.topics__body {
	max-width: 1028px;
	margin: 0 auto;
	display: flex;
}
.topics__left-side {
	flex: 0 0 38.910506%; /* 400/1028 */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}
.topics__title {
}
.topics__menu {
}
.menu-topics {
}
.menu-topics__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.menu-topics__item {
}
.menu-topics__link {
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	line-height: 208%;
	color: #495057;
	position: relative;
	padding-left: 19px;
	transition: color 0.3s;
}
.menu-topics__link::before {
	content: "+";
	position: absolute;
	left: 0;
	top: 0;
	transition: transform 0.8s;
}
.menu-topics__link:hover {
	color: #ddbea9;
}
.menu-topics__link:hover::before {
	transform: rotate(-180deg);
}

.menu-topics__search {
	background: url("../img/icons/search.svg") left no-repeat;
	padding-left: 20px;
	color: rgba(73, 80, 87, 0.5);
	font-weight: 500;
	line-height: 2.08;
	transition: color 0.3s;
}
.menu-topics__search:hover {
	color: rgba(73, 80, 87, 1);
}
.topics__content {
	flex: 0 0 61.089494%;
	padding-left: 23px;
}
.topics__items {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.topics__items:not(:last-child) {
	margin-bottom: 60px;
}

.topics__item {
}
.item-topic {
	display: flex;
	align-items: flex-start;
}
.item-topic__image {
	flex: 0 0 47.438017%; /* 287/605 */
	overflow: hidden;
}
.item-topic__image img {
	max-width: 100%;
	border-radius: 3px;
	transition: transform 0.8s;
}
.item-topic__image:hover img {
	transform: scale(1.05);
}
.item-topic__body {
	flex: 0 0 52.561983%;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.item-topic__date {
	font-weight: 300;
	line-height: 1.66; /* 20/12 */
	color: #6c757d;
}

.item-topic__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
}
.item-topic__link-title {
	transition: color 0.3s;
}
.item-topic__link-title:hover {
	color: #ddbea9;
}
.item-topic__text {
	font-weight: 300;
	line-height: 1.67;
	color: #6c757d;
}
.item-topic__footer {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	font-weight: 300;
	line-height: 167%;
	color: #6c757d;
}
.item-topic__author {
	transition: color 0.3s;
}
.item-topic__author:hover {
	color: #212529;
}
.item-topic__like {
	transition: color 0.3s;
	background: url("../img/icons/like.svg") left no-repeat;
	padding-left: 20px;
}
.item-topic__like:hover {
	color: #212529;
}
.topics__pages {
}
.pages-topics {
}
.pages-topics__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 10px;
}
.pages-topics__item {
}
.pages-topics__link {
	font-weight: 500;
	position: relative;
	line-height: 2.08;
	color: rgba(73, 80, 87, 0.5);
	transition: color 0.3s;
}
.pages-topics__link.active::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	border-radius: 5px;
	background-color: #ddbea9;
}
.pages-topics__link.active,
.pages-topics__link:hover {
	color: #495057;
}

/*-----------FOOTER---------------*/
.footer {
   background-color: #212529;
   padding-top: 100px;
   padding-bottom: 100px;
}

.footer * {
   font-weight: 500; 
   color: rgba(248, 249, 250, 0.5);
   transition: color 0.3s;
}
.footer__container {
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.footer__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__logo>a {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.39;
   color: #F8F9FA;
}
.footer__nav {
   display: inline-flex;
   gap: 25px;
}
.footer__nav a:hover {
   color:#DDBEA9;
}
.social {
   display: inline-flex;
   gap: 25px; 
}
.social a:hover {
   color: #DDBEA9;
}
.footer__line {
   align-self: stretch;
   height: 1px;
   background-color: rgba(248, 249, 250, 0.5);
}
.footer__bot {
   display: flex;
   justify-content: space-between;
}

.footer__bot a:hover {
   color: #F8F9FA;
}


/*----------- M E D I A ---------------*/
@media(max-width: 800px){
   .slider__author{
      font-size: 12px;
   }
   .slider__title{
      font-size: 14px;
   }
   .slider__container{
      padding-top: 20px;
   }
   .slider {
   margin-bottom: 30px;
   }
   .topics__body {
	max-width: 780px;
   
   }
   .item-topic{
      width: 100%;
      flex-direction: column;
      align-items: center;
   }
   .topics__content {
	   padding-left: 0px;
   }
   .item-topic__body {
	padding-left: 0px;
}

}
@media(max-width: 600px){
   .topics__title{
      font-size: 18px;
   }
   .menu__list {
      margin: 10px 0;
      justify-content: center;
      gap: 10px;
   }
   .slider {
   margin-bottom: 10px;
   }
   .slider__text {
      gap: 10px;
      top: 30%;
   }
   .footer__top {
      flex-direction: column;
   }

   .footer__bot {
      flex-direction: column;
   }
   .topics__body {
	max-width: 580px;
   flex-direction: column;
   }
   .item-topic{
      width: 100%;
      flex-direction: column;
      align-items: center;
   }
}
